<html lang="pt-BR">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Autor</title>
  
      <link rel="stylesheet" href="styles/main.css" />      
      <link rel="stylesheet" href="styles/select.css" />
      <script type="text/javascript" src="scripts/select.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      
    </head>
    <body>
        <%- include('parts/pageHeader') %> 
        <h6>HOME</h6> 
        <h1>Últimas postagens :</h1>
        <% obra.forEach((obra) => { %>
              <a href="/obra/<%=obra.id%>"><%= obra.nome %></a>
              <%= obra.autor %>
              <br>
        <% })%>
        <h2><a href="https://docs.google.com/forms/d/e/1FAIpQLSfFw5MwhpNudp8t0zQ_O4IxSECSOBS1iJ7u9L8BnFMfekJCyA/viewform">Quer fazer parte bla bla bla, n sei qual texto por aqui, clique aqui</a> </h2>
  </body>
  <script>
      const token = localStorage.getItem('portal@token');
      axios.get('/teste', { 
            headers: {
                  authorization: `bearer ${token}`
            }
      }).then(function(response) {
            console.log(response.data)
      })
  </script>
</html>