<html lang="pt-BR">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Lista</title>
  
      <link rel="stylesheet" href="/styles/main.css" />
      
    </head>
    <body>
        <h2 class=”titulo”>Agenda Telefônica</h2>
        <% lista.forEach((listatelefonica) => { %>
            <form action="/lista/update/<%=listatelefonica.id%>" method="post">
                <fieldset class="grupo">
                    <div class="campo">
                        <label for="nome">Nome</label>
                        <input type="text" id="nome" name="nome" style="width: 20em" value="<%= listatelefonica.nome %>" />
                    </div>
                    <div class="campo">
                        <label for="snome">Número</label>
                        <input type="text" id="snome" name="numero" style="width: 20em" value="<%= listatelefonica.numero %>" />
                    </div>
                </fieldset>	                
                <input type="hidden" name="id" value="<%= listatelefonica.id %> "/> 
                <button class="botao submit" type="submit" name="submit">Alterar</button>
            </form>
        <% })%>
      
  
      </form>
  </body>