<html lang="pt-BR" id="idtelalogin">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Obra</title>
        
      <link rel="stylesheet" href="styles/main.css" />
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <%- include('parts/pageHeader') %>
        <h2 class="titulo"> Logar:</h2>
        <form action="/log_user" method="post">
            <fieldset class="grupo">
                <div class="campo">
                    <label for="login">Login:</label>
                    <input type="text" id="login" name="email"/>
                </div>
                <div class="campo">
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password"/>
                </div>
            </fieldset>
            <button type="submit">Logar</button>
        </form>
  </body>
  <script>
        //const idlogin = document.querySelector("#idtelalogin")
        const form = document.querySelector("form")
        form.addEventListener('submit', (event) => {
        event.preventDefault()
        const email = document.querySelector("#login")
        const password = document.querySelector("#password")
        axios.post('/log_user', { email: email.value, password: password.value}).then((response) => {
            localStorage.setItem('portal@token', response.data.token)
            //axios.get('/edit_list_autor', { 
            //headers: {
            //    'authorization' : `Bearer ${response.data.token}`
            //}
            //}).then(function(response) {
                //idlogin.innerHTML = response.data
                //console.log(response.data) 
                //return response.redirect('/edit_list_autor')
                //console.log("Oi")

            //})
            setTimeout(() => {window.location.href = 'http://localhost:3000/edit_list_autor'} , 1000);
        })
      })
  </script>
</html>