<header class="page-header inner">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/lista_autor">Autores</a></li>
        <li><a href="/create_autor">Criar autor</a></li>
        <li><a href="/lista_obra">Obras</a></li>
        <li><a href="/create_obra">Criar obra</a></li>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/">Deslogar</a></li>
      </ul>
</header>